html,
header {
  background-color: $dark !important;
  color: $wh;
}

.title {
  font-size: 35px;
  max-width: 85%;
  margin: 50px auto;
  h2 {
    padding-left: 30px;
    padding-bottom: 15px;
    color: $grey;
    &:hover {
      transition: 0.5;
      color: $wh;
    }
  }
}
