.header {
  color: $wh;
  border-radius: 20px;
  z-index: 3;
  //   max-width: 90%;
  margin: auto;
  box-shadow: 1px 1px 9px 1px rgb(42, 41, 41);
  top: 20px;
  padding: 10px 30px;
  width: 95%;
  font-family: 'Media sans';
  font-size: 13px;
  &__links {
    text-transform: uppercase;
    display: none;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    @include tablette {
      display: flex;
    }

    &--logo {
      display: none;

      @include mobile {
        display: block;
        width: 3vw;
      }
    }
  }
}

.header-ctas {
  width: 100%;
  @include mobile {
    width: 10%;
  }
  .logomob {
    display: block;
    @include mobile {
      display: none;
    }
    img {
      width: 50px;
    }
  }
}

.header-menu-mobile-toggle {
  svg {
    color: $wh;
    font-size: 25px;
  }
}

.header-icons {
  color: $wh;
  display: flex;
  align-items: center;
  a {
    padding-left: 10px;
  }
}

// Cart Aside
.aside {
  background-color: $dark;
}
