.newsletter {
  width: 100%;
  color: $dark;
  margin: 10vh auto;
  @include tablette {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__form {
    width: 100%;
    background-color: rgb(244, 237, 237);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 20px;
    border-radius: 20px;
    &--title {
      padding: 10px 0;
    }
    input {
      background-color: transparent;
    }
    button {
      background-color: $dark;
      color: $wh;
      padding: 10px 20px;
      border-radius: 10px;
      margin-top: 10px;
    }
  }
}
