@import "./variables";
@import "./mixins";
@import "./base";
@import "./header";
@import "./banner";
@import "./card";

.swiper-pagination-bullet-active {
    background-color: white;
}

.horizontalCard {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px 0;
}
